{% extends "base.html" %}
{% block header %}
  Об авторе проекта
{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, меня зовут Рома, и я автор этого сайта.</h1>
    <p>
      Тут я должен разместить информацию о себе, используя свои навыки верстать, 
      однако таких навыков пока что нет. Но я тоже хочу, чтобы мой проект был уникальным,
      не как у большинства моих однокурсников. Поэтому навыки фронт-энд разработки
      обязательно появятся в будущем, после окончания моего изучения бэкэнд-разработки. 
      Ведь даже самому профессиональному бэкэндеру необходимо иметь хоть начальные навыки вёрстки.
    </p>
    <p>
      А пока что можно просто рассказать немного о себе, без использования вёрстки:
    </p>
    <p>
      20 лет, учусь в Тимирязевкe на направлении "Информационные системы и технологии", однако никаких 
      практических навыков разработки в вузе я не получил, поэтому я решил поступить на курсы Яндекс.Практикума.
      Сейчас совмещаю учебу в вузе, учебу в практикуме и работу, выходит конечно тяжко, но я сделаю все возможное
      чтобы достичь своей мечты детства - стать профессиональным программистом :=]
    </p>
  </div>
{% endblock %} 