{% extends "base.html" %}
{% block header %}
  Технологии
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row">
      <h1>Вот что я умею</h1>
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <p>
          Для создания своего первого сайта я использовал такой 
          инструмент, как фреймворк Django на Python, а также немного
          html-вёрстки. 
        </p>
        <p>
          Все необходимые знания для разработки сайта 
          я получил на курсе "Python-разработчик" от Яндекс.Практикума, 
          однако мне еще предстоит повторно изучить теорию по декораторам, 
          кешированию, а также научиться оптимизировать запросы к БД, т.к. не 
          весь материал легко усваивается с первого раза :]

        </p>
      </article>
    </div>
  </div>
{% endblock %} 