{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}   

{% block header %}
  {{ group.title }}
{% endblock %}

{% block content %}
  <div class="container py-5">     
    <h1>{{ group.title }}</h1>
    <p>{{ group.description }}</p>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: 
            {% if post.author.get_full_name %}
              <a href="{% url 'posts:profile' post.author.username %}">
                {{ post.author.get_full_name }}
              </a>
            {% else %}
              <a href="{% url 'posts:profile' post.author.username %}">
                {{ post.author.username }}
              </a>
            {% endif%}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>    
        {% thumbnail post.image "1440x560" crop="center" upscale=False as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %} 
        <button 
          class="btn btn-outline-primary" 
          onclick="window.location.href = '{% url 'posts:post_detail' post.id %}'"
          type="button"
        >
          Подробная информация 
        </button>
        {% if post.author.username == request.user.username %}
          <button 
            class="btn btn-outline-danger" 
            onclick="window.location.href = '{% url 'posts:post_delete' post.id %}'"
            type="button"
          >
            Удалить пост
          </button>
        {% endif %}
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %} 
    </article>
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}