{% extends "base.html" %}
{% block header %}
  Сброс пароля
{% endblock %}
{% block content %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались</div>
          <div class="card-body">
            <form method="post"
              {% if action_url %}
              action="{% url action_url %}"
              {% endif %}
            >
              {% csrf_token %}
              {% load user_filters %}
              {% for field in form %} 
                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                  </label>
                  {{ field|addclass:'form-control' }}
                </div>
              {% endfor %}
              {% for error in form.errors %}
                <p>Некорректный {{ error }}</p>
              {% endfor %}  
              <div class="col-md-6 offset-md-4" a>
                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}