{% extends "base.html" %}
{% block header %}
  Зарегистрироваться
{% endblock %}
{% block content %}
  {% if validlink %}
    <div class="container py-5"> 
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">
              Введите новый пароль
            </div>
            <div class="card-body">
              <form method="post"
                {% if action_url %}
                action="{% url action_url %}"
                {% endif %}
              >
                {% csrf_token %}
                {% load user_filters %}
                {% for field in form %} 
                  <div class="form-group row my-3">
                    <label for="{{ field.id_for_label }}">
                      {{ field.label }}
                    </label>
                    {{ field|addclass:'form-control' }}
                    {% if field.help_text %}
                      <small 
                        id="{{ field.id_for_label }}-help"
                        class="form-text text-muted"
                      >
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %} 
                  </div>
                {% endfor %}
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    Назначить новый пароль
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">Ошибка</div>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
  {% endif %}
{% endblock %} 